h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;'
}
h1{
}
h1, h2, .price{
  font-weight: bold;
}
h1, h2, p, .price{
  font-family: Helvetica;
}
.product h2{
  font-size: 32px;
  color: white
}
#brushes{
  background-color: mediumspringgreen;
}
#frames{
  background-color: lightcoral;
}
#paint{
  background-color: skyblue;
}
.price{
  color: blue;
}
